.App{
    width: 100vw;
    height: 100vh;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width : 420px){
    .App{
       background-color: #FAF9F4;
       display: block;
    }
}